<%- include("./partials/header.ejs") %>
<div class="w-full min-h-[90vh] px-16 py-5 relative">
    <div class="hidden copydiv absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-blue-500 rounded-md text-white opacity-80">
        <h4 class="p-2 py-1 ">Link Copied</h4>
    </div>
    <div class="buttons  flex gap-6">
        <%if(hisab.encrypt){ %>
            <a href="" class="text-xs capitalize p-3 py-2 text-zinc-100 rounded-md bg-blue-500 flex gap-2 items-center font-semibold"><i class="ri-lock-line"></i>encrypted</a>
        <%}else{ %>
            <div class="text-xs capitalize p-3 py-2 text-zinc-100 rounded-md bg-[#40A578] flex gap-1 items-center"><i class="ri-check-fill font-semibold"></i>available</div>
        <%} %>
        <%if(hisab.shareable){ %>
           <button class="sharebtn text-md text-zinc-800 flex items-center gap-2 font-semibold"><i class="ri-share-line text-lg"></i><span id="link">share as a link</span></button>
        <%}else{ %>
           <a href="" class="p-3 py-[5px] bg-zinc-300/80 rounded-md text-sm flex items-center justify-center"><i class="ri-eye-off-line "></i></a>
        <%} %>
        <a href="/hisab/delete/<%= hisab._id %>" class="p-2 px-6 rounded-lg text-sm bg-red-600 text-zinc-100  font-semibold capitalize">delete</a>
        <a href="/hisab/edit/<%= hisab._id %>" class="p-2 px-6 rounded-lg text-sm bg-orange-400 text-zinc-100 font-semibold capitalize">edit</a>
    </div>
    <h4 class="mt-7 capitalize text-sm opacity-50 font-semibold">created on <%= hisab.createdAt.getDate()%>-<%= hisab.createdAt.getMonth() + 1 %>-<%= hisab.createdAt.getFullYear()%></h4>
    <h2 class="text-2xl mt-8"><%= hisab.title %></h2>
    <h2 class="text-lg"><%= hisab.content %></h2>
</div>

<script>
    let sharebtn = document.querySelector(".sharebtn")
    let copydiv = document.querySelector(".copydiv")
    var timer;
    sharebtn.addEventListener("click",function(){
        navigator.clipboard.writeText(window.location.href)
        clearTimeout(timer)
        copydiv.classList.remove("hidden")
        var timer = setTimeout(function(){
            copydiv.classList.add("hidden")
        },3000)
    })


</script>
<%- include("./partials/footer.ejs") %>